:root {
    ---twitter-color: #00acee;
    --facebook-color: #3b5998;
    --linkedin-color: #0072b1;
    --insta-color: #8a3ab9;
    --primary: #e41513;
    --gray: #808080;
    --text-color-nav: rgb(94, 84, 84);
}