@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.logo-img {
  width: 100%;
  height: 60px;
  padding: 0.4em;
}

.logo {
  display: flex;
  margin-left: 4rem;
}

.header {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background: #ffffff;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.nav-links {
  display: flex;
  padding: 1rem;
  margin-left: auto;
  margin-right: 2rem;
  overflow: hidden;
}

.nav-link {
  display: grid;
  padding: 0 0.6em;
  color: rgb(94, 84, 84);
}

.nav-link:hover {
  cursor: pointer;
  color: black;
}


a {
  text-decoration: none;
  color: var(--text-color-nav);
}

.top {
  position: relative;
  width: 100%;
  background: var(--primary);
  padding: 4px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ph-number {
  display: flex;
  align-items: center;
}

.social-media-content {
  display: flex;
  margin-left: auto;
  margin-right: 3em;
}

.social-icon-link {
  cursor: pointer;
}

.social-s-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  color: var(--primary) !important;
  background: #ffffff;
  border-radius: 25%;
  margin: 0.2em;
}

.social-s-icon:hover {
  border: 2px solid white;
  background: var(--primary);
}

.social-s-icon:hover>a {
  color: white;
}

.white {
  color: #ffffff;
}

/* .post:hover {
  background-color: var(--facebook-color);
}
.tweet:hover {
  background-color: var(---twitter-color);
}
.insta:hover {
  background-color: var(--insta-color);
}
.linkedin:hover {
  background-color: var(--linkedin-color);
} */

.fa-phone-icon {
  margin-right: 0.2em;
}

.topDetails {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
}

.e-email {
  margin-right: 8px;
}

span {
  cursor: pointer;
}

.subham-product {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: rgb(94, 84, 84);
  padding: 0.6em;
}

.super-product {
  margin-top: 0.4em;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: rgb(94, 84, 84);
  padding: 0.6em;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 25px;
  border-radius: 10px 20px;
}

.dropdown-content a {
  font-size: 14px;
  float: none;
  color: rgb(94, 84, 84);
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  cursor: pointer;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* .line {
  border-top: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;

} */

hr {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: darkblue;
}

.text-white {
  color: #ddd;
}